<!DOCTYPE html>
<!-- templates/login_success.html -->
<!DOCTYPE html>
<html>
<head>
    <title>ログイン成功</title>
    <script>
        // ページ読み込み後、3秒後に指定したURLにリダイレクトする関数
        function redirectToDashboard() {
            setTimeout(function () {
                window.location.href = "{{ url_for('user_page') }}";  // /user_pageへのURLに変更
            }, 3000); // 3秒待つ
        }

        // ページ読み込み時に redirectToDashboard 関数を呼び出す
        window.onload = redirectToDashboard;
    </script>
</head>
<body>
    <h1>ログイン成功</h1>
    <p>{{ login_message }} {{ username }}さん、こんにちは。</p>
    <p>3秒後にダッシュボードにリダイレクトします。</p>
</body>
</html>

