<!DOCTYPE html>
<html>
<head>
    <title>ログイン</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<body>
    <div class="container form-container">
        <h1>ログイン</h1>
        <form method="POST">
            <label for="username">ユーザー名:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">パスワード:</label>
            <input type="password" id="password" name="password" required><br><br>

            <input type="submit" value="ログイン">
        </form>
        <br>
        <!-- 新規登録画面への遷移ボタン -->
        <a href="{{ url_for('register') }}">新規登録はこちら</a>
    </div>
</body>
</html>
