<!DOCTYPE html>
<html>
<head>
    <title>新規登録</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container form-container"></div>
    <h1>新規登録</h1>
    <form method="POST">
        <label for="username">ユーザー名:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="新規登録">
    </form>

    <!-- 新規登録成功メッセージ -->
    {% if message %}
    <p>{{ message }}</p>
    <a href="{{ url_for('login') }}">ログイン画面に戻る</a>
    {% endif %}
</body>
</html>
